#home-container {
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
  background-size: cover;
  background-position: 50% 50%;
  display: flex;

  > div {
    width: 100%;
    display: flex;
    backdrop-filter: blur(4px);
  }
}

main {
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
  margin-bottom: 0;
}

.container {
  justify-content: center;
  align-items: center;
  text-shadow: var(--text-shadow);
  background: radial-gradient(closest-side, #0006, transparent);
  padding: 80px 20px;
  text-align: center;

  > * {
    margin: 0;
  }

  > h1 {
    font-size: 5rem;
    font-family: Montserrat;
    font-weight: 900;
    color: transparent;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    background-size: cover;
    filter: drop-shadow(0 2px 1.5px #000) drop-shadow(0 -1px 1.5px #0004);
    line-height: 110%;
  }

  > h2 {
    font-size: 2.5rem;
    margin-top: -20px;
  }

  > div h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.button-row {
  flex-direction: column;
  filter: drop-shadow(0 0 2px #0008);
}

.live-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width < 768px) {
  .container {
    > h1 {
      font-size: 3rem;
    }

    > h2 {
      font-size: 1.5rem;
    }
  }
}