#account-header {
  flex-direction: row;

  > img {
    border-radius: 50%;
  }

  > div {
    justify-content: center;
  }
}

#account-header {
  align-items: center;
}

@media screen and (width < 768px) {
  #account-header > img {
    width: 64px;
    height: 64px;
  }
}