#submission-preview {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin-bottom: -64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-background);
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;
  }

  > img {
    width: calc(100% - 40px);
    max-height: calc(100vh - var(--header-height) - var(--footer-height) - 86px * 2);
    min-height: 128px;
    margin: 86px 0;
    object-fit: contain;
    z-index: 1;
    filter: drop-shadow(0 5px 5px #0008);
    transition: scale .5s, opacity .5s;
    z-index: 2;
  }

  > svg {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    &.visible {
      display: initial;
    }
  }

  > div {
    top: 20px;
    bottom: 20px;
    position: absolute;
    width: min(100% - 40px, var(--content-width) - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    > :last-child {
      display: flex;
      justify-content: space-between;
      filter: drop-shadow(0 5px 5px #0008);
    }
  }
}

.loading-fade {
  &::after {
    opacity: 1 !important;
  }

  > img {
    scale: 0.9;
    opacity: 0;
    pointer-events: none;
  }
}

.step-heading {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--color-text-light);
  text-shadow: var(--text-shadow);
  display: flex;
  justify-content: space-between;
}

#submission-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  > div {
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    transition: top .25s;

    > :first-child {
      font-weight: 700;
      font-size: 1.75rem;
    }

    > img {
      max-width: 384px;
      border-radius: 8px;
      background-image: var(--transparency);
      box-shadow: 0 4px 4px #0008;
    }

    > :last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: -20px -20px -20px 0;
      user-select: none;

      > * {
        padding: 20px;
        font-size: 48px;
        width: 48px;
        height: 48px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: font-size .15s;

        &:hover {
          font-size: 60px;
        }
      }
    }

    &:last-child .move-up, &:first-child .move-down {
      visibility: hidden;
    }

    &:last-child {
      border-color: gold;
      box-shadow: 0 0 5px gold;
    }

    &:nth-last-child(2) {
      border-color: silver;
      box-shadow: 0 0 5px silver;
    }

    &:nth-last-child(3) {
      border-color: var(--color-bronze);
      box-shadow: 0 0 5px var(--color-bronze);
    }

    &.selected {
      border-color: var(--color-accent);
      box-shadow: 0 0 15px var(--color-accent);
      z-index: 1;
    }
  }
}
