table {
  align-self: flex-start;
}

td {
  padding: 0;
}

td:first-child {
  padding-right: 16px; 
}

.panel img {
  width: 100%;
  border-radius: 8px;
  background-image: var(--transparency);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collaborator {
  background-color: var(--color-subpanel);
  align-items: center;
  height: 46px;
  border: var(--panel-border);

  .name {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 8px;
  }

  > a {
    text-decoration: none;
    color: var(--color-text);
  }

  > div:last-child {
    padding: 0 12px;
  }
}

#artist-info {
  font-size: 1.25rem;
  font-weight: 700;
}