table {
  align-self: flex-start;
}

td:first-child {
  padding-right: 16px; 
}

.panel img {
  width: 100%;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#delete-invite {
  max-width: 46px;
}