:root {
  color-scheme: dark;
  --content-width: 1280px;
  --header-height: 64px;
  --color-ui: #212e3c;
  --color-panel: #1D2125;
  --panel-border: 1px solid #cdf2;
  --color-text: #EEE;
  --color-text-light: #FFF;
  --color-accent: #1E93D9;
  --color-background: #121212;
  --text-shadow: 0 2px 3px #000, 0 -1px 3px #0004;
}

html {
  font-family: "Nunito Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-text-light);
  line-height: 100%;
}

.spacer {
  flex: 1;
}

.hidden {
  display: none;
}

header {
  background-color: var(--color-ui);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

#header {
  max-width: var(--content-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
}

#home-link {
  display: flex;
  gap: 10px;
  padding: 14px;
  align-items: center;
  color: var(--color-text-light);
  opacity: .9;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;

  &:hover {
    opacity: 1;
  }
}

nav {
  display: flex;
  gap: 8px;

  > a {
    display: flex;
    align-items: center;
    padding: 22px 12px;
    text-decoration: none;
    color: var(--color-text);
    transition: border-width .06s;
    border-bottom: solid var(--color-accent);
    border-width: 0;
    position: relative;
    gap: 10px;

    &::after {
      content: "";
      position: absolute;
      background-color: var(--color-accent);
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      transition: height .06s;
    }

    &:hover {
      color: var(--color-text-light);

      &::after {
        height: 5px;
      }
    }

    > img {
      border-radius: 50%;
    }
  }
}

main {
  margin: var(--header-height) 0 64px;
}

.container {
  max-width: var(--content-width);
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.popupable {
  cursor: pointer;
}

.popup {
  position: fixed;
  inset: 0;
  background-color: #000000C0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .2s;
}

.popup-container {
  position: relative;
  user-select: none;
  box-shadow: 0 8px 16px #000;
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);
  overflow: hidden;
  scale: .85;
  transition: scale .2s;

  &:hover {
    #popup-image-close {
      opacity: 1;
      right: 0;
    }

    #popup-image-prev {
      opacity: 1;
      left: 0;
    }

    #popup-image-next {
      opacity: 1;
      right: 0;
    }
  }
}

.popup-visible {
  opacity: 1;

  .popup-container {
    scale: 1;
  }
}

#popup-image-close, #popup-image-next, #popup-image-prev {
  position: absolute;
  filter: drop-shadow(0 2px 3px #000);
  cursor: pointer;
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
}

#popup-image-close {
  top: 0;
  right: -32px;
  transition: right 0.15s, opacity 0.15s;
  opacity: 0;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  padding: 10px;
}

#popup-image-next, #popup-image-prev {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  padding: 20px;
  transition: left 0.15s, right 0.15s, opacity 0.15s, transform 0.15s;

  &:hover {
    transform: translateY(-50%) scale(1.4);
  }
}

#popup-image-prev {
  left: -60px;
}

#popup-image-next {
  right: -60px;
}

.popup-image {
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);
  min-width: min(256px, 100vw - 80px);
  display: block;
  background-image: url("data:image/webp;base64,UklGRiYAAABXRUJQVlA4TBkAAAAvD8ADAAWRto2Te5h/fYXnEf2fgDj+cfwDAA==");
  image-rendering: pixelated;
  object-fit: contain;
}

.icon {
  font-family: "Material Symbols Outlined";
  color: var(--color-text);
}

.fa {
  font-family: "Font Awesome 6 Brands";
  color: var(--color-text);
  font-weight: 400;
}

button, .button {
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 16px;
  letter-spacing: .5px;
  text-shadow: var(--text-shadow);
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--color-text);
  text-decoration: none;
  position: relative;
  z-index: 1;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  line-height: 1.375rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-accent);
    transition: filter .15s, background-color .15s;
    border-radius: 8px;
    z-index: -1;
  }

  &:hover::before {
    filter: brightness(1.15);
  }

  &:active::before {
    filter: brightness(.9);
  }

  &.secondary {
    &::before {
      background-color: transparent;
      border: 2px solid var(--color-accent)
    }

    &:hover::before {
      background-color: #fff1;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &::before {
      filter: grayscale() brightness(.75);
    }
  }
}

.button-row {
  display: flex;
  gap: 8px;

  & button, .button {
    flex: 1;
  }
}