#contests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
  gap: 20px;
}

.contest {
  color: var(--color-text);
  overflow: hidden;
  padding: 0;
}

.contest-header {
  background-size: cover;
  background-position: 50% 50%;
  height: 192px;
  display: block;
  overflow: hidden;
  text-decoration: none;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    height: 100%;
  }
}

.contest-details {
  padding: 0 20px 20px;

  > :first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  > table {
    margin: 16px 0;

    & td:first-child {
      padding-right: 16px;
      font-weight: 600;
    }
  }
}