#contests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
}

.contest {
  color: var(--color-text);
  overflow: hidden;
  padding: 0;
}

.contest-header {
  background-size: cover;
  background-position: 50% 50%;
  height: 192px;
  display: block;
  overflow: hidden;
  text-decoration: none;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    height: 100%;
  }
}

.contest-details {
  padding: 0 20px 20px;

  > :first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  > table {
    margin-top: 16px;

    & td:first-child {
      padding-right: 16px;
      font-weight: 600;
    }
  }

  .button-row {
    margin-top: 16px;
  }
}

#live-contest > .panel {
  animation: glow linear infinite 2.5s;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #D92B2B, 0 0 10px #D92B2B, 0 0 20px #D92B2B;
  }
  50% {
    box-shadow: 0 0 5px transparent, 0 0 10px transparent, 0 0 20px transparent;
  }
  100% {
    box-shadow: 0 0 5px #D92B2B, 0 0 10px #D92B2B, 0 0 20px #D92B2B;
  }
}

@media screen and (width < 768px) {
  #contests {
    display: flex;
  }

  .contest-header {
    height: 128px;
  }

  .contest-details {
    padding: 0 12px 12px;

    > table {
      margin-top: 8px;
    }
  }

  #live-contest .contest-header {
    height: 256px;
  }
}

@media screen and (width < 500px) {
  .button-row {
    flex-direction: column;
  }
}